edugenai.env
__pycache__/
_pycache__/
.env
__pycache__
_pycache_
__pycache__
__pycache__
frontend/node_modules
frontend/.next
frontend/.env

remotion-app/bundled
.agents
.codex
azure_vm/exp_key.pem
__pycache__
